.inputRange {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-weight: 600;
  font-size: 14px;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.numberInput {
  width: 100%;
  border: 0;
  height: 50px;
  outline: 0;
  padding: 13px 15px;
  background: #f6f7fa;
  border-radius: 5px 5px 0 0;
}

.rangeInput {
  position: relative;
  width: 100%;
  z-index: 3;
}
