/* Основные стили контейнера */
.widgetContainer {
  padding: 20px 0;
  position: relative;
}

.widgetContainer:first-child {
  padding-top: 0;
}

/* Сетка пакетов */
.packageGrid {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow: auto;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .packageGrid {
    display: grid;
    gap: 15px;
    overflow: inherit;
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Карточка пакета */
.packageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  padding: 12px;
  border-radius: 15px;
  background: #e0e0e0;
  text-align: center;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  min-width: 130px;
  position: relative;
  transition: all 0.3s ease;
}

.packageCard::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  opacity: 0;
  visibility: hidden;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 15C9.48912 15 11.3968 14.2098 12.8033 12.8033C14.2098 11.3968 15 9.48912 15 7.5C15 5.51088 14.2098 3.60322 12.8033 2.1967C11.3968 0.790176 9.48912 0 7.5 0C5.51088 0 3.60322 0.790176 2.1967 2.1967C0.790176 3.60322 0 5.51088 0 7.5C0 9.48912 0.790176 11.3968 2.1967 12.8033C3.60322 14.2098 5.51088 15 7.5 15ZM10.9753 6.28781C11.1461 6.111 11.2406 5.87418 11.2384 5.62837C11.2363 5.38257 11.1377 5.14743 10.9639 4.97361C10.7901 4.79979 10.5549 4.70119 10.3091 4.69906C10.0633 4.69692 9.8265 4.79141 9.64969 4.96219L6.5625 8.04938L5.35031 6.83719C5.1735 6.66641 4.93668 6.57192 4.69087 6.57406C4.44506 6.57619 4.20993 6.67479 4.03611 6.84861C3.86229 7.02243 3.76369 7.25757 3.76156 7.50337C3.75942 7.74918 3.85391 7.986 4.02469 8.16281L5.89969 10.0378C6.07549 10.2136 6.31391 10.3123 6.5625 10.3123C6.81109 10.3123 7.04951 10.2136 7.22531 10.0378L10.9753 6.28781Z' fill='%230056D3'/%3E%3C/svg%3E%0A");
}

.packageCard.selected {
  pointer-events: none;
  border-color: #0056d3;
}

.packageCard.selected::after {
  opacity: 1;
  visibility: visible;
}

.packageCard.selected .selectButton {
  color: #0056d3;
  background: #fff;
}

/* Изображение пакета */
.packageImageContainer {
  position: relative;
  overflow: hidden;
}

.packageImage {
  max-width: 130px;
  margin: -23px auto;
  display: block;
}

/* Информация о пакете */
.packageInfo {
  width: 100%;
}

.packageName {
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.packagePrice {
  font-weight: 500;
  font-size: 12px;
  margin-top: -12px;
}

/* Кнопка выбора */
.selectButton {
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  border-radius: 50px;
  background: #e0e0e0;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Стили для выбранного пакета */
.selectedPackage {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  position: relative;
  padding: 15px;
  background: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}

/* Кнопки */
.removeButton,
.addButton,
.datePickerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background: #0056d3;
  border: 1px solid #0056d3;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10px;
}

.removeButton {
  background: #ff4444;
  border-color: #ff4444;
}

.removeButton:hover {
  background: #cc0000;
  border-color: #cc0000;
}

.addButton {
  width: 100%;
}

.addButton:hover,
.datePickerButton:hover {
  background: #0044a8;
  border-color: #0044a8;
}
