.feedback {
    position: relative;
    padding: 35px 0;
    background: #fff;
    border-radius: 15px 15px 0 0;
}

.feedback.show-modal .calc-modal {
    opacity: 1 !important;
    visibility: visible !important;
}

.feedback img {
    display: none;
}

.feedback__title {
    text-align: center;
    margin-bottom: 25px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    flex-shrink: 0;
    margin: 0 auto;
}

.feedback__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback__field-error {
    display: none;
    color: red;
    margin-top: 5px;
}

.feedback__field.has-error:not(.has-error-charters) input,
.feedback__field.has-error:not(.has-error-charters) textarea {
    border: 1px solid red;
}

.feedback__field.has-error:not(.has-error-charters) .has-error {
    display: block;
}

.feedback__field.has-error.has-error-charters input,
.feedback__field.has-error.has-error-charters textarea {
    border: 1px solid red;
}

.feedback__field.has-error.has-error-charters .has-error-charters {
    display: block;
}

.feedback__label {
    font-weight: 600;
    font-size: 14px;
}

.feedback__input {
    padding: 0 20px;
    border: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    background: #f6f7fa;
    outline: 0;
}

.feedback__textarea {
    padding: 20px;
    border: 0;
    width: 100%;
    resize: none;
    height: 110px;
    border-radius: 5px;
    box-shadow: none;
    background: #f6f7fa;
    outline: 0;
}

.feedback .calc-modal::before {
    left: 0;
    right: 0;
}

.feedback .calc-modal__inner {
    margin: 0 15px;
}

.modal-feedback {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-icon {
    font-size: 50px;
    color: green;
    margin-bottom: 15px;
}

.modal-message p {
    font-size: 18px;
}

.feedback__grid {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.feedback__image {
    max-width: 300px;
    height: auto;
}
