.pageMain {
  padding: 35px 0;
}

.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
}

.pageTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}

@media (min-width: 993px) {
  .pageMain {
    padding: 70px 0;
  }
  
  .pageTitle {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 50px;
  }
}