.footer {
  padding: 40px 0;
  color: #fff;
  font-size: 14px;
  background: #000;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__data,
.footer__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.footer__data a,
.footer__left a {
  text-decoration: underline;
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 5px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__partners,
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer__copyright {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 767px) {
  .footer {
    font-size: inherit;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__data,
  .footer__left {
    text-align: left;
    align-items: flex-start;
    gap: 30px;
  }

  .footer__data {
    flex-direction: row;
    gap: 30px;
    text-align: left;
    align-items: center;
  }

  .footer__slogan {
    max-width: 420px;
  }

  .footer__right {
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  .footer__title {
    text-align: left;
  }

  .footer__nav {
    gap: 10px;
    align-items: flex-start;
  }

  .footer__copyright {
    font-size: 18px;
    margin-top: 60px;
  }
}

@media (min-width: 993px) {
  .footer__title {
    font-size: 24px;
  }
}
