.calc {
  position: relative;
  display: flex;
  flex-direction: column;
}

.calc:not(:first-child) {
  margin-top: 35px;
}

.calc__title {
  margin-bottom: 25px;
  text-align: center;
}

.calc__grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calc__btn {
  min-width: 290px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 767px) {
  .calc__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1170px) {
  .calc__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
