.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
}

.calculator:not(:first-child) {
  margin-top: 25px;
}

.calculatorTitle {
  margin-bottom: 25px;
  text-align: center;
}

.calculatorGrid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calculatorField {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.calculatorField input[type="tel"] {
  width: 100%;
  border: 0;
  height: 50px;
  outline: 0;
  padding: 13px 15px;
  background: #f6f7fa;
  border-radius: 5px 5px 0 0;
}

.calculatorField input[type="range"] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

/* Новый класс для стилизации трека и ползунка */
.calculatorRangeInput {
  -webkit-appearance: none;
  background: #d7d7d7;
  border-radius: 0;
  height: 3px;
  outline: 0;
  transition: background 450ms ease-in;
}

.calculatorRangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: ew-resize;
  background: #0056d3;
}

.calculatorRangeInput::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: ew-resize;
  background: #0056d3;
}

.calculatorRangeInput::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: ew-resize;
  background: #0056d3;
}

.calculatorLabel {
  font-weight: 600;
  font-size: 14px;
}

.calculatorSelect {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #f6f7fa;
  color: #000;
  border: 1px solid #f6f7fa;
  border-radius: 5px;
  padding: 10px 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.calculatorSelect::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 7px;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg ...%3E");
}

.calculatorSelect:focus {
  outline: 0;
  border: 1px solid #0056d3;
}

.calculatorSelect option {
  background-color: #f6f7fa;
  color: #000;
}

.calculatorSelect option:hover {
  background-color: #e0e0e0;
}

.calculatorButton {
  min-width: 290px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background: #0056d3;
  border: 1px solid #0056d3;
  transition: 0.5s;
}

.calculatorModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 85;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.05s;
}

.calculatorModalOpen {
  opacity: 1;
  visibility: visible;
}

.calculatorModal.show {
  opacity: 1;
  visibility: visible;
  transition: 0.05s;
}

.calculatorModal::before {
  content: "";
  position: absolute;
  left: -15px;
  right: -15px;
  top: 0;
  bottom: 0;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.7);
  filter: blur(5px);
  z-index: -1;
}

.modalInner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.13);
  padding: 20px;
  border-radius: 15px;
}

.modalClose {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.modalTitle {
  font-weight: 700;
  font-size: 20px;
}

.modalResult {
  margin-top: 10px;
  font-size: 16px;
}

.modalResult span {
  font-weight: 700;
  color: green;
}

.modalButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background: #0056d3;
  border: 1px solid #0056d3;
  transition: 0.5s;
}

.modalButton span {
  margin: 0 5px;
}

@media (min-width: 640px) {
  .calculatorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .calculatorField input[type="tel"] {
    border-radius: 15px 15px 0 0;
  }
  .calculatorLabel {
    font-size: 18px;
  }
}

@media (min-width: 767px) {
  .calculatorGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 993px) {
  .calculator:not(:first-child) {
    margin-top: 40px;
  }
  .calculatorTitle {
    margin-bottom: 50px;
  }
  .calculatorButton {
    margin-top: 40px;
  }
  .modalInner {
    gap: 30px;
    padding: 35px 45px;
    border-radius: 25px;
  }
  .modalClose {
    right: 20px;
    top: 20px;
  }
  .modalTitle {
    font-size: 30px;
    line-height: 35px;
  }
  .modalResult {
    font-size: 18px;
    margin-top: 15px;
  }
}

@media (min-width: 1170px) {
  .calculatorGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
