/* Тёмный полупрозрачный фон модального окна */
.modalOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 85;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
}

/* Белый прямоугольник внутри модального */
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  text-align: center;
}

/* Кнопка «×» закрытия */
.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
}

/* Контейнер календара AirDatepicker */
.datepicker {
  /* width: 100%; */
  margin-top: 10px;
}

/* Обёртка для кнопок внизу */
.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.confirmButton {
  background: #006a23;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton {
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
