.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
}

/* Общие стили для меню */
.mobileMenu,
.desktopMenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Мобильное меню */
.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  border-top: 1px solid #e3e3e3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.mobileMenu.open {
  opacity: 1;
  visibility: visible;
}

/* Десктопное меню */
.desktopMenu {
  display: none;
}

@media (min-width: 767px) {
  .desktopMenu {
    display: flex;
    gap: 15px;
  }

  .mobileMenu {
    display: none;
  }
}

@media (min-width: 1201px) {
  .desktopMenu {
    gap: 30px;
  }
}
