.burgerButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 24px;
  position: relative;
  z-index: 1000;
}

.burgerLine {
  display: block;
  height: 2px;
  width: 100%;
  background: #000;
  transition: all 0.3s ease;
}

/* Анимация при открытии */
.burgerButton.open .burgerLine:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burgerButton.open .burgerLine:nth-child(2) {
  opacity: 0;
}

.burgerButton.open .burgerLine:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

@media (min-width: 767px) {
  .burgerButton {
    display: none;
  }
}
