.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.calculatorTitle {
  margin-bottom: 25px;
  text-align: center;
}

.calculatorGrid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calculatorField {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.calculatorLabel {
  font-weight: 600;
  font-size: 14px;
}

.calculatorRange {
  position: relative;
  display: flex;
  flex-direction: column;
}

.calculatorRange input[type="tel"] {
  width: 100%;
  border: 0;
  height: 50px;
  outline: 0;
  padding: 13px 15px;
  background: #f6f7fa;
  border-radius: 5px 5px 0 0;
}

.calculatorRange input[type="range"] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #0056d3 0,
    #0056d3 40%,
    #d7d7d7 40%,
    #d7d7d7 100%
  );
  border-radius: 0;
  height: 3px;
  outline: 0;
  transition: background 450ms ease-in;
}

.calculatorRange input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: ew-resize;
  background: #0056d3;
}

.calculatorSelect {
  width: 100%;
  height: 50px;
  background-color: #f6f7fa;
  color: #000;
  border: 1px solid #f6f7fa;
  border-radius: 5px;
  padding: 10px 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  font-size: 16px;
}

.calculatorSelect:focus {
  outline: 0;
  border: 1px solid #0056d3;
}

.calculatorButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background: #0056d3;
  border: 1px solid #0056d3;
  transition: 0.5s;
  min-width: 290px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.calculatorButton:hover {
  color: #000;
  background: rgba(0, 0, 0, 0);
}

.calculatorModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 85;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.modalInner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.13);
  padding: 20px;
  border-radius: 15px;
}

.modalClose {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
  color: #232324;
}

.modalTitle {
  font-weight: 700;
  font-size: 20px;
}

.modalResult {
  margin-top: 10px;
  font-size: 16px;
}

.modalResult span {
  font-weight: 700;
  color: green;
}

.modalButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background: #0056d3;
  border: 1px solid #0056d3;
  transition: 0.5s;
  text-decoration: none;
  margin-top: 15px;
}

.modalButton:hover {
  color: #000;
  background: rgba(0, 0, 0, 0);
}

@media (min-width: 767px) {
  .calculatorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .calculatorLabel {
    font-size: 18px;
  }

  .calculatorRange input[type="tel"] {
    border-radius: 15px 15px 0 0;
  }
}

@media (min-width: 993px) {
  .calculator {
    margin-top: 70px;
  }

  .calculatorTitle {
    margin-bottom: 50px;
  }

  .calculatorButton {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
  }

  .modalInner {
    gap: 30px;
    padding: 35px 45px;
    border-radius: 25px;
  }

  .modalClose {
    right: 20px;
    top: 20px;
  }

  .modalTitle {
    font-size: 30px;
    line-height: 35px;
  }

  .modalResult {
    font-size: 18px;
    margin-top: 15px;
  }
}

@media (min-width: 1170px) {
  .calculatorGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
